.headerLine {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: #010101;
}

.header-home {
    height:inherit;
    max-height: 8vh;
    flex: 1;
}

.header-home > img {
    height: 6vh;
    width: 6vh;
    transform: translateY(15%);
}

.header-page {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    flex: 2;
}

.header-page-item {
    font-size: 20px;
    font-weight: 1000;
    color: #fff8eb;
}

.header-github {
    height:inherit;
    max-height: 100px;
    flex: 1;
}
